@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
  }
  .div-horizontal {
    width: 100%;
    height: 25vh;
    text-align: center;
  }
  .cabecera {
    background-image: url(img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cabecera h1 {
    color: black;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .cabecera h2 {
    color: black;
    font-size: 1.5rem;
  }