@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
  
/* Estilos generales */
body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container-horizontal {
  padding: 1rem;
}

/* Estilos para la cabecera */
.cabecera {
  background-image: url('../imagenes/header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

/* Estilos para las imágenes de GitHub */
.second-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}

.image-container {
  flex-basis: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.github{
  width: 300px;
}

/* Estilos para el feedback */
.container-feedback {
  background-color: #2ea0a8;
  padding: 1rem;
  text-align: center;
  color: white;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Estilos para el contenedor dividido */
.container-split {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.container-text {
  flex-basis: 60%;
  margin-right: 20px;
}

.container-image {
  flex-basis: 30%;
}

/* Estilos para el pie de página */
.container-footer {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.column {
  flex-basis: 30%;
}

h4 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.container-footer ul {
  list-style: none;
  padding: 0;
}

.container-footer li {
  margin-bottom: 0.5rem;
}

/* Estilos para el pie de página negro */
.container-black-footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}